*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.contenedor-Central{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";

    grid-template-columns: 1fr;
}




/* HEADER INICIO */



.header{
    grid-area: header;
    background-color: #029987;
    height: auto;
    padding: .5em;

}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5em;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    
}

.titulo{
    

}

.logo{
    width: 1.5em;
    height: 1.5em;
    padding-top: 5px;
}


.titulo-Link{
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
}

.titulo-Link:hover{
    background-color: #fff;
    color: #029987;
    border-radius: .5em;
    padding: .2em;
    transition: .3s;
}

.ul{
    display: flex;
    align-items: center;

}

.menu-Item{
    list-style: none;
    margin-left: 2em;
}

.menu-Item-Logo{
    margin-right: 1em ;
}

.menu-Link{
    text-decoration: none;
    color: #fff;
}

.menu-Link:hover{
    background-color: #fff;
    color: #029987;
    border-radius: .5em;
    padding: .5em;
    transition: .3s;
}

.logo-Wahtsapp{

}

.img-Logo-Whatsapp{
    width: 2em;
    height: 2em;
}










/* MAIN INICIO */

.main{
    
    grid-area: main;
    background-color:#029987;
}

.inicio-Contenedor-Img{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inicio-Img-Central{
    width: 100%;
    height: 30em;
}

.inicio-Contenedor-Texto-Img{
    text-align: center;
    position: absolute;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    color:#fff;
    font-size: 4em;
    text-shadow: 2px 2px 2px black;
    background-color: #02998752;
    padding: .5em;
    border-radius: .3em;

}


.inicio-Contenedor-Texto-Portada{
    text-align: justify;
    color: #fff;
    display: flex;

}

.inicio-Subcontenedor-Texto-Portada{
    display: flex;
    flex-direction: column;
}

.inicio-Titulo-Texto-Portada{
    text-align: center;
    margin: 1em 0 .5em 0;
}

.inicio-Texto-Portada{
    padding: 0 3em 2em 3em;
    font-family: 'Roboto', sans-serif;
}









/* MAIN NOSOTROS */


.nosotros-Contenedor-Img{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nosotros-Img-Central{
    width: 100%;
    height: 30em;
    opacity: 70%;
}

.nosotros-Contenedor-Texto-Img{
    text-align: center;
    position: absolute;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    color:#fff;
    font-size: 4em;
    text-shadow: 2px 2px 2px black;
    background-color: #02998752;
    padding: .5em;
    border-radius: .3em;

}

.nosotros-Contenedor-Texto-Img:hover{
    background-color: #fff;
    opacity: 70%;
    color: #029987;
    transition: 3s;
    text-shadow: 2px 2px 2px black;
    padding: .6em;
    font-size: 4em;
}


.nosotros-Contenedor-Texto-Portada{
    text-align: justify;
    color: #fff;
    display: flex;
    flex-direction: column;
    
}

.nosotros-Titulo-Texto-Portada{
    text-align: center;
    margin: 1em 0 .5em 0;
    
}

.nosotros-Texto-Portada{
    padding: 0 1em 1em 1em;
    font-family: 'Roboto', sans-serif;
}


.central{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    height: 50em;
}


.padre{
    background-color: #fff;
}

.hijo{
    display: flex;
    flex-direction: column;
    width: 20em;
}

.hijo p{
    border: solid;
}

.hijo div{
    border: solid;
}






/* FOOTER */

.footer{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 5em;
    grid-area: footer;
    background-color: rgb(1, 129, 129);
    color: #fff;
    text-align: center;
    padding-top: .5em;
    text-shadow: 2px 2px 2px black;
    font-family: 'Roboto', sans-serif;
}







.pantalla-dividida{
    display: flex;
    justify-content: center;
}

.izquierda{
    width: 50%;
    background-color:#029987;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.contenedor-Nosotros{
  margin-top: .5em;
  font-size: 3em;
}

.izquierda-P-Sobre{
    color: black;
    text-align: center;
    font-size: 2em;
   
    
}

.izquierda-P-Nosotros{
    color: #fff;
    text-align: center;
}

.izquierda-P-Texto{
    text-align: justify;
    padding: 3em 5em 0 5em;
    color:#fff
}



.derecha{
    width: 50%;
}

.derecha img{
    width: 100%;
    height: auto;
}











/* NOTICIAS */

.noticias-Section-Dos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


.noticias-Contenedor-Img-Dos{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5em;
}

.noticias-Img-Central-Dos{
    width: 18.75em;
    height: 10em;
}

.noticias-Contenedor-Texto-Img-Dos{
    text-align: center;
    position: absolute;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    color:#fff;
    font-size: 1em;
    text-shadow: 2px 2px 2px black;
    background-color: #029987ab;
    padding: .55em;
    

}


.noticias-Contenedor-Texto-Img-Dos a{
    text-decoration: none;
    color:#fff;
}






